<div class="row">
  <div class="col-lg-4 col-md-6" *ngFor="let item of filteredProducts; index as i">
    <div class="card overflow-hidden">
      <div class="position-relative">
        <img [src]="item.image" alt="" class="img-fluid rounded-top" />

        <!-- Bouton sauvegarde -->
        <span class="position-absolute top-0 start-0 p-1" *ngIf="item.categorie !== 'Sold'">
          <button
            (click)="cartService.addItem(item)"
            type="button"
            class="btn avatar-sm d-inline-flex align-items-center justify-content-center fs-20 rounded"
            [ngClass]="item.status ? 'btn-warning text-light' : 'bg-warning-subtle text-warning'"
          >
            <iconify-icon icon="solar:bookmark-broken"></iconify-icon>
          </button>
        </span>

        <!-- Badge type -->
        <span class="position-absolute top-0 end-0 p-1">
          <span class="badge bg-{{ item.categorie }} text-white fs-13">
            <ng-container *ngIf="item.categorie !== 'Sold'">For </ng-container>{{ item.categorie }}
          </span>
        </span>
      </div>

      <div class="card-body">
        <div class="d-flex align-items-center gap-2">
          <div class="avatar bg-light rounded">
            <iconify-icon
              [icon]="item.image"
              class="fs-24 text-primary avatar-title"
            ></iconify-icon>
          </div>
          <div>
            <a href="javascript:void(0);" class="text-dark fw-medium fs-16">{{ item.intitule }}</a>
            <p class="text-muted mb-0">{{ item.referenceProduit }}</p>
          </div>
        </div>

        <!-- Caractéristiques -->
        <div class="row mt-2 g-2">
          <div class="col-lg-4 col-4">
            <span class="badge bg-light-subtle text-muted border fs-12">
              <iconify-icon icon="solar:bed-broken" class="align-middle fs-16"></iconify-icon>
              {{ item.numeroLot }} Lots
            </span>
          </div>
          <div class="col-lg-4 col-4">
            <span class="badge bg-light-subtle text-muted border fs-12">
              <iconify-icon icon="solar:bath-broken" class="align-middle fs-16"></iconify-icon>
              {{ item.categorie }} Categorie
            </span>
          </div>
          <div class="col-lg-4 col-4">
            <span class="badge bg-light-subtle text-muted border fs-12">
              <iconify-icon icon="solar:scale-broken" class="align-middle fs-16"></iconify-icon>
              {{ item.poidsDimension }} Poids
            </span>
          </div>
          <div class="col-lg-4 col-4">
            <span class="badge bg-light-subtle text-muted border fs-12">
              <iconify-icon icon="solar:double-alt-arrow-up-broken" class="align-middle fs-16"></iconify-icon>
              {{ item.quantiteParUnite }} Floor
            </span>
          </div>
        </div>
      </div>

      <!-- Footer -->
      <div class="card-footer bg-light-subtle d-flex justify-content-between align-items-center border-top">
        <p class="fw-medium text-dark fs-16 mb-0">
          {{ item.price | number: '1.2-2' }} {{ currency }}
        </p>
        <a href="javascript:void(0);" (click)="cartService.addItem(item)" class="link-primary fw-medium">
          Ajouter au panier <i class="ri-shopping-cart-2-line align-middle"></i>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="p-3 border-top">
  <nav aria-label="Page navigation example">
    <ngb-pagination
      [collectionSize]="30"
      [collectionSize]="totalItems"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      (pageChange)="onPageChange($event)"
      class="pagination justify-content-end mb-0"
    >
      <ng-template ngbPaginationPrevious>Previous</ng-template>
      <ng-template ngbPaginationNext>Next</ng-template>
    </ngb-pagination>
  </nav>
</div>
